# Include your project-specific ignores in this file
# Read about how to use .gitignore:
# https://help.github.com/articles/ignoring-files

# Notes and various other sundries
_notes/

# Text editor things
*.sublime-*
